name: Node.js Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.2.0
      - run: npm ci # Clean install
      - run: npm test

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.2.0
        with:
          registry-url: https://npm.pkg.github.com/
      - run: npm ci # Clean install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
